.about-box{
    width: 70%;
    height: fit-content;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 0.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

   color: #ffffff;

    font-size: 16px;

    transition: 0.5s;
}

.about-box:hover{
    box-shadow: 0 9px 3px #00000049;

}

.about-img{
    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 10px 6px #00000049;
    cursor: pointer;
    transition: all 0.5s;
 
}

.about-img:hover{
    height: 110px;
    width: 110px;
}


.bottom{
    padding: 1rem;
    max-width: 700px;
}


