nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;

}

.brand-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about{
  text-decoration: none;
  outline: none;
  color: #ffffff;
  font-size: 1rem;
  transition: 0.3s;
}
.about:hover{
  color: #ffffffa1;
  outline: none;
  text-decoration: none;
}

.logoHenry {
  cursor: pointer;
  width: 8%;
}
