.app-container {
  text-align: center;
  width: 90vw;
  height: 90vh;
  background-color: #cfcece3a;
  margin: 2rem auto;
  backdrop-filter: blur(20px);
  z-index: -1;
  box-shadow: 0 8px 32px rgba(43, 42, 42, 0.637);
  border-radius: 0.5rem;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: center;
}
.warm {
  background-image: url("./assets/warm.jpeg");
}

.default {
  background-image: url("./assets/default.jpg");
}
.cold {
  
  background-image: url("./assets/cold.jpg");
}

.hot {
 
  background-image: url("./assets/hot.jpg");
}
