.App {
  text-align: center;
  width: 90vw;
  height: 90vh;
  background-color: #ffffff52;
  margin: 2rem auto;
  backdrop-filter: blur(10px);
  z-index: -1;
  box-shadow: 0 8px 32px rgba(43, 42, 42, 0.637);
  border-radius: 0.5rem;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: center;
}
