@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  
  background-size: cover;
  background-repeat: no-repeat;
}

